<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Autour+One|Bevan|Patrick+Hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,700|Cairo:300,400,600,900|Roboto+Slab:400,700|Rubik:300,400,400i,500,700,900|Zilla+Slab+Highlight:400,700" rel="stylesheet">
  </head>
  <body ng-app="foodFinder">
    <div id="container" class="white"  ng-controller="MapCtrl">

      <!-- top thingie -->
      <div id="top-container" class="row">
        <div id="top" class="col s12">
        </div>
      </div>

      <!-- header -->
      <div class="row">
        <div id="header" class="col s12">
          <h1>Food<img src="/images/004-technology.png" id="logo-compass">Finder</h1>
          <p>For Hikers & Bikers</p>
        </div>
        <div id="top2" class="col-xs-12"></div>

      <div class="col s12 center">
        <div class="intro-cont">
          Find your next hike! Use your mouse to explore the map and click the icons for more details. Search WTA's Hiking Guide or filter results using the panel at right. Zoom in from the statewide view to see many more results. The map only displays hikes with trail coordinates. Happy Hiking!
        </div>
      </div>
    </div>

      <div id="body-container" class="row">
        <!-- body / map -->
        <div id="map-body" class="col s12 m8">
          <div id="map">
          </div>
        </div>

        <!-- right sidebar -->
        <div id="sidebar-cont" class="col s12 m4">
          <div id="sidebar">
            <h4>Location</h4>
            <b>Zoom by Region:</b>
            <ul id="region-list">
              <li><a href="" ng-click="northCascades()">North Cascades</a></li>
              <li><a href="" ng-click="centralCascades()">Central Cascades</a></li>
              <li><a href="" ng-click="southCascades()">South Cascades</a></li>
              <li><a href="" ng-click="mtRainier()">Mt Rainier</a></li>
              <li><a href="" ng-click="olympics()">Olympic Peninsula</a></li>
              <li><a href="" ng-click="pugetSound()">Puget Sound & Islands</a></li>
              <li><a href="" ng-click="northeastWA()">Northeast Washington</a></li>
              <li><a href="" ng-click="southeastWA()">Southeast Washington</a></li>
            </ul>
          </div>

          <div id="sidebarInfo">
            <h4>Info</h4>
            <h5 id="placeName"></h5>
            <div id="region">
            </div>
            <div id="address">
            </div>
            <div id="comments">
            </div>
            <hr>
            <!-- yelp -->
            <div id="yelp">
              <div class="yelpLogo"></div>
              <div id="yelpInfoCont">
                <div class="yelpInfo"><b>Rating:</b><p id="yelpRating"></p></div>
                <div class="yelpInfo"><b>Price:</b><p id="yelpPrice"></p></div>
                <p id="yelpUrl"></p>
              </div>
            </div>
            <div id="yelpLoading">
              Loading...
            </div>

            <a href="#" ng-click="backSidebar()"><i class="material-icons sidebar-icons arrowBack">arrow_back</i></a>

          </div>
        </div>
      </div>

      <!-- about  -->
      <div id="about">
      	<h4>About</h4>
      	<p>Food Finder is a projct intending to connect hikers to the best local, hiker approved restaurants. </p>

          <h6>Credits</h6>
          <p>Credits go here</p>

          <h6>Disclaimer</h6>
          <p>Disclaimer goes here</p>
      </div>


      <!-- divider  -->
      <div id="divider" class="text-center">
          <div class="divider-img text-center">
              <img src="/img/upload/004-technology.png" id="divider-compass">
          </div>
      </div>


      <!-- footer -->
      <div id="footer" class="row">
        <div class="col s12 center">
          © 2017 Kim and Bonnie Brandt
        </div>
      </div>

      <div class="col s12 m6">
        <div id="footer-contact">
          <h4>Info</h4>
          <p>Created by Kim and Bonnie Brandt</p>
          <h6>KIM</h6>
          <p>
              <a href="mailto:kimmabrandt@gmail.com">kimmabrandt@gmail.com</a><br>
              <a target="_blank" href="http://kim-brandt.com">kim-brandt.com</a>
          </p>

          <h6>BONNIE</h6>
          <p>
              <a href="mailto:bonniejbrandt@hotmail.com">bonniejbrandt@hotmail.com</a>
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <!-- contact -->
      </div>






    </div> <!-- end container -->



    <!-- javascripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlcsAeVjCfL44u5I9AOnRcRlAPCKyuOY0"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/restaurants.js"></script>
    <script src="/javascripts/script.js"></script>

  </body>
</html>
