<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/styletemp.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Autour+One|Bevan|Patrick+Hand" rel="stylesheet"> -->


    <link href="https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,700|Cairo:300,400,600,900|Roboto+Slab:400,700|Rubik:300,400,400i,500,700,900|Zilla+Slab+Highlight:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,600,800|Inconsolata|Nanum+Gothic|Nunito:300,400,600,800,900|Raleway|Tajawal:400,500,600,700,800|Work+Sans|Nanum+Gothic+Coding:500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600|PT+Mono|Roboto+Mono:300,400,500|Source+Code+Pro:300,400,500,600|Space+Mono|Varela|Varela+Round" rel="stylesheet">
  </head>
  <body ng-app="foodFinder">

    <div id="container" ng-controller="MapCtrl">

      <!-- HEADER -->
      <div id="top" class="col s12"></div>
      <div class="hero-section">
        <div class="headerr" id="header" class="col s12">
          <div class="inner-container">
            <!--<img src="/img/upload/009-cardinal-points.png">-->
            <h1>Food<img src="images/png/004-technology.png" id="logo-compass">Finder</h1>
            <p>For Hikers &amp; Bikers</p>
          </div>
        </div>
        <style>
          #header h1 {
              /* font-variant-ligatures: liga!important;
              text-rendering: geometricPrecision!important; */
              font-variant-ligatures: common-lig-values!important;
              font-size-adjust: 0.5;
              font-stretch: normal;
              font-kearning: none;
              font-variant: normal;
            }
        </style>
        <div class="col s12 text-center">
            <div class="intro-cont">
                <div class="row" style="margin-bottom:0">
                    <div class="col s2 ic-icon">
                        <img src="images/png/012-panel.png" id="sign-logo">
                    </div>
                    <div class="col s10 ic-text">
                      <p>
                        Find your next hike! Use your mouse to explore the map and click the icons for more details. Search WTA's Hiking Guide or filter results using the panel at right. Zoom in from the statewide view to see many more results. The map only displays hikes with trail coordinates. Happy Hiking!<br>
                        Have a restaurant you'd like to add? <a href="#contact">Click here to submit</a>.
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header -->

      </div>


      <div id="body-container" class="row">
        <div class="inner-container" style="padding-top:0;padding-bottom:0;">
          <!-- body / map -->
          <div id="map-body" class="col s12 m8">
            <div id="map">
            </div>
            <div class="region-headline">
            </div>
          </div>
          <style>
          .region-headline {
              font-family: 'Dosis', sans-serif;
              font-weight: 800;
              /* font-family: 'Nunito', sans-serif;
              font-weight: 900; */
              text-transform: uppercase;
              text-align: center;
              font-size: 30px;
              /* color: rgba(#FFAA00, 0.68); */
              /* color: #263238; */
              color: #263238;
              background-color: rgba(245, 247, 248, 0.6);
              padding: 4px;
              margin: 10px auto;
              position: absolute;
              top: 45px;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              width: auto;
              z-index: 10;
              /* text-shadow: 2px 2px 2px rgba(20,20,20,0.59); */
          }

          #map-body {
            position: relative;
          }

          </style>
          <!-- right sidebar -->
          <div id="sidebar-cont" class="col s12 m4">
            <div id="sidebar">
              <h4>Zoom by Region:</h4>
              <ul id="region-list">
                <a href="" ng-click="northCascades()"><li>North Cascades</li></a>
                <a href="" ng-click="centralCascades()"><li>Central Cascades</li></a>
                <a href="" ng-click="southCascades()"><li>South Cascades</li></a>
                <a href="" ng-click="mtRainier()"><li>Mt Rainier</li></a>
                <a href="" ng-click="olympics()"><li>Olympic Peninsula</li></a>
                <a href="" ng-click="pugetSound()"><li>Puget Sound & Islands</li></a>
                <a href="" ng-click="northeastWA()"><li>Northeast Washington</li></a>
                <a href="" ng-click="southeastWA()"><li>Southeast Washington</li></a>
              </ul>
            </div>

            <div id="sidebarInfo">
              <h4 class="h4-left">Info</h4>
              <h4 class="h4-right"><a href="#" ng-click="backSidebar()"><i class="sidebar-icons material-icons arrowBack">arrow_back</i></a></h4>
              <div style="clear:both"></div>
              <h5 id="placeName"></h5>
              <div id="region">
              </div>
              <div id="address">
              </div>
              <div id="comments">
              </div>
              <hr>
              <!-- yelp -->
              <div id="yelp">
                <div class="yelpLogo"></div>
                <div id="yelpInfoCont">
                  <div class="yelpInfo"><b>Rating:</b><p id="yelpRating"></p></div>
                  <div class="yelpInfo"><b>Price:</b><p id="yelpPrice"></p></div>
                  <p id="yelpUrl"></p>
                </div>
              </div>
              <div id="yelpLoading">
                Loading...
              </div>

              <a href="#" ng-click="backSidebar()"><i class="material-icons sidebar-icons arrowBack">arrow_back</i></a>

            </div>
          </div>
        </div>
      </div>

      <!-- DIVIDER -->
      <div id="divider" class="text-center">
        <div class="divider-img text-center">
          <img src="images/png/004-technology.png" id="divider-compass">
        </div>
      </div>

      <!-- ABOUT  -->

      <div id="about">
        <div class="inner-container">
          <h4>About</h4>
          <div class="about-left">
            <p>Food Finder is a projct intending to connect hikers to the best local, hiker approved restaurants. </p>

            <h6>Credits</h6>
            <p>Credits go here</p>

            <h6>Disclaimer</h6>
            <p>Disclaimer goes here</p>
          </div>
          <div class="about-right">
            <img src="images/img600.jpg" width="300px">
          </div>
          <div style="clear:both"></div>
          <style>
          .about-left {
            width: 60%;
            display: inline-block;
            float: left;
            padding-right: 20px;
          }
          .about-right {
            width: 40%;
            display: inline-block;
            float: right;
            padding: 20px;
          }
          </style>

        </div>


      </div>

        <!-- FOOTER / CONTACT -->
        <div id="info-contact" class="row" style="margin-bottom: 0;">
          <div id="contact" class="inner-container">
            <div class="col s6">
              <div class="footer-contact contact-left">
              	<h4>Info</h4>
              	<p>Created by Kim and Bonnie Brandt</p>
              	<h6>KIM</h6>
              	<p>
                  <a href="mailto:kimmabrandt@gmail.com">kimmabrandt@gmail.com</a><br>
                  <a target="_blank" href="http://kim-brandt.com">kim-brandt.com</a>
              	</p>

              	<h6>BONNIE</h6>
              	<p>
                  <a href="mailto:bonniejbrandt@hotmail.com">bonniejbrandt@hotmail.com</a>
              	</p>
              </div>
            </div>
            <div class="col s6">
                <div class="footer-contact contact-right">
                  <h4>Submit</h4>
                  <p>Do you have a favorite restaurant you'd like to add? Fill out the form and we'll add it to the site. </p>
                  <form class="form contact-form padded form-button-basic sb-form-contact-form" action="/app/preview/#formbuilder" method="post" data-sb-event="form-submit" target="_top">
                    <div class="form-inner">
                      <fieldset>
                        <p class="form-required"><label for="id_name">Name</label> <input id="id_name" name="name" placeholder="Full Name" type="text"></p>
                        <p class="form-required"><label for="id_email">Email</label> <input id="id_email" name="email" placeholder="Email" type="email"></p>
                        <p class="form-required"><label for="id_phone">Phone</label> <input id="id_phone" name="phone" placeholder="Phone" type="text"></p>
                        <p class="form-required"><label for="id_comment">Comment</label> <textarea cols="40" id="id_comment" name="comment" placeholder="Comment" rows="4"></textarea></p>
                        <p class="submit">
                          <input type="submit" value="Send" class="button">
                        </p>
                      </fieldset>
                    </div>
                  </form>

                </div>
            </div>
          </div>

      </div>

      <!-- footer -->
      <div id="footer" class="row">
        <div class="col s12">
          © 2017 Kim and Bonnie Brandt
        </div>
      </div>



    <!-- javascripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlcsAeVjCfL44u5I9AOnRcRlAPCKyuOY0"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/restaurants.js"></script>
    <script src="/javascripts/script.js"></script>

  </body>
</html>
