<!DOCTYPE html>
<html ng-app="foodFinder">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <!-- stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />


  </head>
  <body>
    <div ng-controller="MapCtrl">

      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      {{1+1}}
      <div id="map">
      </div>
      <div id="repeat" ng-repeat="marker in markers | orderBy : 'title'">
        <a id="country_container" href="#" ng-click="OpenInfoWindow($event, marker)">
        <label id="names">{{marker.title}}</label></a>
      </div>



    </div>

    <!-- javascripts -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlcsAeVjCfL44u5I9AOnRcRlAPCKyuOY0"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
