$extra-small-screen-up: 769px !default;
$small-screen-up: 993px !default;
$medium-screen-up: 1201px !default;
$large-screen-up: 1441px !default;
$extra-large-screen-up: 2561px !default;
$extra-small-screen: $extra-small-screen-up - 1px !default;
$small-screen: $small-screen-up - 1px !default;
$medium-screen: $medium-screen-up - 1px !default;
$large-screen: $large-screen-up - 1px !default;
$extra-large-screen: $extra-large-screen-up - 1px !default;

$small-and-up: "only screen and (min-width : #{$extra-small-screen})" !default;
$medium-and-up: "only screen and (min-width : #{$small-screen})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen})" !default;
$extra-small-and-down: "only screen and (max-width : #{$extra-small-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$large-and-down: "only screen and (max-width : #{$large-screen})" !default;
$small-only: "only screen and (min-width : #{$extra-small-screen}) and (max-width : #{$small-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen}) and (max-width : #{$medium-screen})" !default;
$large-only: "only screen and (min-width : #{$medium-screen}) and (max-width : #{$large-screen})" !default;
$extra-large-only: "only screen and (min-width : #{$large-screen}) and (max-width : #{$extra-large-screen})" !default;
