
body {
  background-color: #ebebeb;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  /* background-color: #024024; */
  /*background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");*/
  /*background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");*/
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: 'Asap', sans-serif;
  font-size: 15px;
}
a {
  /*text-decoration: none;*/
  color: #263238;
}
a:hover {
  color: #263238;
  background-color: #ffd740;
  border-bottom: 1px solid #ffd740;
}
#container {
  width: 90%;
  /*height: 100%;*/
  padding-bottom: 80px;
  margin: 0 auto;
  /*border-left: 4px solid #ffd740;*/
  /*border-right: 4px solid #fff;
  border-left: 4px solid #fff;*/
}

/* NAVIGATION */
#nav {
  /*background-color: #969696;*/
  background-color: #808d94;
  /*padding: 2px;*/
}
 #nav ul {
 	list-style-type: none;
  float: right;
  height: 60px;
 }
 #nav li {
   color: #eceff1;
 	display:inline-block;
 	text-transform: uppercase;
  /*color: #c372f2;*/
 	font-size:12px;
  letter-spacing: 1px;
  text-align:center;
  width: 100px;
  height: 60px;
  /*margin-right:20px;*/
 }

/* HEADER */
#top-container {
  margin: 0px;
}
#top {
  /*background-color: #949494;*/
  background-color: #808d94;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

/* HEADER */
#header {
  padding: 20px 20px 20px 30px;
  margin: 0px;
  background-color: #eceff1;
}
#header h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 50px;
  letter-spacing: 2px;
  color: #263238;
  height: 50px;
  margin: 0px;
  padding: 0px;
}
#header img {
  height: 42px;
  margin: 0px 10px;
}
#header p {
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
  /*font-family: 'Cairo', sans-serif;*/
  font-weight: 400;
  font-style: italic;
  font-size: 23px;
  color: #546e7a;
  margin-top: 8px;
  margin-bottom: 0px;
  padding: 0px;
}


/* INTRO */
.intro-cont {
  padding: 15px;
}

/* MAP / BODY */
#body-container {
  padding: 0px 12px;
  height: 100%;
}
#map-body {
  padding: 0px;
}
#map {
  height:500px;
  width:100%;
}
/*@media (max-width: 600px){
  #map {
    width: 200px;
  }
}*/

/* SIDEBAR */
hr {
  margin-top: 23px;
  margin-bottom: 20px;
  /*width: 75%;*/
  opacity: 0.2;
}
#sidebar {
  padding: 10px;
  height: 700px;
  /*background-color: #e7ebed;
  background-color: #f5f5f5;
  background-color: #f5f7f8;*/
}
#sidebar h4, #sidebarInfo h4 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  color: #263238;
  margin: 10px 0px;
  padding-bottom: 2px;  /*border-bottom: 2px solid #808d94;*/
}
#sidebar-cont {
  border-left: 6px solid #fff;
}
#sidebarInfo {
  padding: 10px;
  height: 500px;
  /*background-color: #f5f7f8;*/
}

/* SIDEBAR INFO */
#sidebar h5, #sidebarInfo h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  /*text-transform: uppercase;*/
  font-size: 20px;
  color: #263238;
  margin: 10px 0px;
  padding-bottom: 2px;
  border-bottom: 2px solid #ffd740;
  /*border-bottom: 2px solid #808d94;*/
}
#region {
  font-style: italic;
  color: gray;
  font-size: 17px;
  margin:5px 0px;
}
#address p, #comments p, #yelpUrl {
  margin-top: 0px;
  margin-bottom: 5px;
}
#yelp {
  margin-top: 22px;
}
#yelpRating, #yelpPrice {
  display: inline-block;
  margin: 0px 10px 5px 10px;
  font-weight: 600;
  color: #D32323;
}
#yelpUrl a {
  font-style: italic;
  text-decoration: underline;
  font-size: 14px;
}
.yelpInfo {
  width: 100px;
  display: inline-block;
}
.yelpLogo {
  width: 59px;
  height: 30px;
  background-image: url("../images/Yelp_trademark_RGB_outlines2.png");
  background-size: 59px;
  padding: none;
  margin-top: none;
  margin-bottom: 8px;
}
.arrowBack {
  padding: none;
  margin: 10px 0px;
  height: 100%;
}

/* INFO WINDOW */
.infoWindowContent h5 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: #263238;
  margin: 10px 0px;
  padding-bottom: 2px;
  border-bottom: 2px solid #ffd740;
  /*border-bottom: 2px solid #808d94;*/
}
.infoWindowContent {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
}

/*idk*/
#repeat {
  display: block;
  margin: 10px 0;
}
#region-list li {
  padding: 1px;
}
#region-list {
  margin-top: 5px;
}
#country_container {
  /*width: 1000px;*/
  /*margin: 13px 3px 3px 0px;*/
  text-align: center;
  /*width: 85px;*/
  padding: 4px;
  /*display: inline-table;*/
  color: white;
  background-color: black;
  font-size: 12px;
  cursor: pointer;
  border: 1px solid black;
  border-radius:13px;
}
#country_container:hover {
  box-shadow: 0px 0px 10px black;
  background-color: gray;
  border: 1px solid gray;
  cursor: pointer;
}
#names {
  cursor: pointer;
}
#info-contact {
  /* background-color: #2a4f65; */
  background: #808080;
  background: -webkit-linear-gradient(to bottom, #808080, #3fada8);
  background: linear-gradient(to bottom, #808080, #3fada8);
}

#footer {
  padding: 20px 20px 20px 30px;
  margin-top: 50px;
  margin-bottom: none;
  background-color: #eceff1;
  width: 90%;
  margin: 0 auto;
}

/*

@media screen and (min-width: 800px) {
  #map {
    width: 60%;
    float: left;
  }
  #sidebar-cont {
    width: 40%;
    float: right;
  }
}*/
